# Работа с реляционными базами данных

In [ ]:
class Student:
    def __init__(self, name, surname, age, university, group):
        self.name = name
        self.surname = surname
        self.age = age
        self.university = university
        self.group = group
    def __repr__(self):
        return f"Student(name={self.name},surname={self.surname},age={self.age},university={self.university},group={self.group})"

In [ ]:
import random
import string


students = [  # все совпадения случайны
    Student("Mikhail", "Tsion", 21, "MIPT", "795"),
    Student("Anastasya", "Polovinkina", 18, "MIPT", "05-025"),
    Student("Mikhail", "Geller", 21, "MIPT", "794"),
    Student("Ilya", "Kochagin", 19, "MIPT", "05-025"),
    Student("Ivan", "Rodionov", 18, "MIPT", "05-025"),
]

def gen_title(): 
    return "".join(
        random.choices(
            string.ascii_lowercase, 
            k=random.randint(5, 10)
        )
    ).title()

def gen_group():
    return random.choices(
        list(map(lambda i: f"05-02{i}", range(10))), 
        k=1
    )[0]

students.extend(list(map(
    lambda _: Student(
        name=gen_title(),
        surname=gen_title(), 
        age=random.randint(17, 19),
        university="MIPT", 
        group=gen_group()
    ),
    range(10)
)))

In [ ]:
students

In [ ]:
# Задача №1: отфильтруем всех, чей возраст больше 18 лет
list(filter(
    lambda x: x.age <= 18,
    students
))

In [ ]:
# Задача №2: посчитаем средний возраст всех студентов
sum(list(map(lambda x: x.age, students))) / len(students)

In [ ]:
# Задача №3: средний возраст студентов MIPT
mipt_students = list(filter(lambda x: x.university == "MIPT", students))
sum(list(map(lambda x: x.age, mipt_students))) / len(list(mipt_students))

In [ ]:
# Задача №4: какие есть уникальные группы
list(set(list(map(lambda x: x.group, students))))

In [ ]:
# Задача №5: средний возраст и количество студентов в каждой группе 
groups = {}
for group in list(set(list(map(lambda x: x.group, students)))):
    groups[group] = {"total": 0, "sum_age": 0}
    for student in students:
        if student.group == group:
            groups[group]["total"] += 1
            groups[group]["sum_age"] += student.age
    groups[group]["avg_age"] = groups[group]["sum_age"] / groups[group]["total"]    
    
list(groups.items())

А что если записей не 15, а 15 миллиардов? Они в память не поместятся, да и один средненький компьютер вряд-ли сможет обрабавать наши запросы(

In [ ]:
# Этот код приведен лишь для того, чтобы красиво нарисовать 
# табличку, никакой смысловой нагрузки он не несет

import pandas as pd

def to_dict(student: Student):
    return {
        "name": student.name,
        "surname": student.surname,
        "age": student.age,
        "university": student.university,
        "group": student.group,
    }
    
pd.DataFrame.from_records(list(map(to_dict, students)))

In [ ]:
# Задача №1: отфильтруем всех, чей возраст больше 18 лет
FILTER students.age <= 18

In [ ]:
# Задача №2: посчитаем средний возраст всех студентов
AVG(students.age)

In [ ]:
# Задача №3: средний возраст студентов MIPT
AVG(students.age) WHERE students.university == "MIPT"

In [ ]:
# Задача №4: какие есть уникальные группы
DISTINCT students.group

In [ ]:
# Задача №5: средний возраст и количество студентов в каждой группе 
AVG(students.age), COUNT(students) GROUP BY students.group

### План
1. Реляционная база данных
1. Язык SQL
1. SQLite3 + sqlite3
1. PostgreSQL + psycopg2
1. ORM. [SQLAlchemy](http://www.sqlalchemy.org)

### Реляционная база данных

Реляционные базы данных:
  * Связанная информация, хранящаяся в двумерных таблицах
  * Каждая таблица представляет собой набор полей (колонки) и набор объектов (записей)
  * Порядок записей в таблице произволен, столбцов - фиксирован
  * Идентификация записей осуществляется с помощью первичных ключей

Если коротко, то реляционные базы данных - это таблицы с индексами для быстрого поиска, связанные между собой

### Язык SQL

__SQL__ (__Structured Query Language__, язык структурированных запросов) — это специальный язык, используемый для определения данных, доступа к данным и их обработки. Язык SQL относится к декларативным языкам — он лишь описывает нужные компоненты (например, таблицы) и желаемые результаты, не указывая, как именно эти результаты должны быть получены. Каждая реализация SQL является надстройкой над процессором базы данных (database engine), который интерпретирует операторы SQL и определяет порядок обращения к структурам БД для корректного и эффективного формирования желаемого результата.

Стандарт SQL определяется __ANSI__ — __American National Standarts Institute__ (Американским Национальным Институтом Стандартов) и в настоящее время принят __ISO__ — __International Standarts Organization__ (Международной Организацией по Стандартизации).

SQL — непроцедурный язык: серверу базы данных сообщается, что нужно сделать и каким образом. Для обработки запроса сервер базы данных транслирует команды SQL во внутренние процедуры. Благодаря тому, что SQL скрывает детали обработки данных, его легко использовать.

Что можно делать с помощью SQL?
 * SQL позволяет создавать таблицы данных.
 * SQL позволяет хранить данные.
 * SQL позволяет получать данные.
 * SQL позволяет изменять данные.
 * SQL позволяет изменять структуру таблиц.
 * SQL позволяет объединять данные.
 * SQL позволяет выполнять вычисления.
 * SQL позволяет обеспечивать защиту данных.
  
__Команды SQL__  
Команды SQL разделяются на следующие группы:
 * Команды языка определения данных — __DDL__ (__Data Definition Language__). Эти SQL команды можно использовать для создания, изменения и удаления различных объектов базы данных.
 * Команды языка манипулирования данными — __DML__ (__Data Manipulation Language__). Эти SQL команды позволяют пользователю перемещать данные в базу данных и из нее.
 * Команды языка управления данными — __DCL__ (__Data Control Language__). С помощью этих SQL команд можно управлять доступом пользователей к базе данных и использовать конкретные данные (таблицы, представления и т.д.).
 * Команды языка управления транзакциями — __TCL__ (__Тгаnsасtiоn Соntrol Language__). Эти SQL команды позволяют определить исход транзакции.
  
<img src="images/sql-statements.png" alt="sql-statements" />
   
Мы рассмотрим _DDL_ и _DML_.  
  
---
### DDL  
<img src="images/sql-types.png" alt="sql-types" />  
  
__DDL: Create__
```sql
CREATE TABLE SUPERHERO(
    NAME VARCHAR(100),
    BIRTH_DATE DATE,
    RATING INTEGER,
    ALIAS VARCHAR(50)
);
```
__DDL: Alter__
```sql
ALTER TABLE SUPERHERO ADD AGE INTEGER;
ALTER TABLE SUPERHERO DROP COLUMN RATING;
```
__DDL: Truncate__
```sql
TRUNCATE TABLE SUPERHERO;
```
__DDL: Drop__
```sql
DROP TABLE SUPERHERO;
```
  
---
### DML
__DML: Insert__
```sql
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Tony Stark', '06-JAN-1966', 'Iron man', 100);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Bruce Banner', '28-FEB-1969', 'Hulk', 80);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Steve Rogers', '07-MAR-1921', 'Captain America', 87);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Natasha Romanoff', '01-AUG-1999', 'Black Widow', 59);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Thor', '13-FEB-1976', 'Thor', 74);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Clint Barton', '17-DEC-1969', 'Hawkeye', 55);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Charles Francis Xavier', '30-JUN-1933', 'Professor X', 100);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('Wade Winston Wilson', '13-APR-1980', 'Deadpool', 89);
INSERT INTO SUPERHERO(NAME, BIRTH_DATE, ALIAS, RATING) VALUES('James Howlett', '01-JAN-1887', 'Wolverine', 89);
```

__DML: Update__
```sql
UPDATE SUPERHERO SET BIRTH_DATE='01-AUG-1940' WHERE NAME='Natasha Romanoff';
```

__DML: Delete__
```sql
DELETE FROM SUPERHERO WHERE NAME='Bruce Banner';
```

__DML: Select__
<img src="images/sql-select-template.png" alt="sql-select-template" /> 
<img src="images/sql-select.png" alt="sql-select" />  
```sql
SELECT ALIAS FROM SUPERHERO;
```
```sql
SELECT ALIAS, RATING FROM SUPERHERO;
```
```sql
SELECT * FROM SUPERHERO;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING > 90;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING < 60;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING >= 60 AND RATING <= 90;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE RATING BETWEEN 60 AND 90;
```
```sql
SELECT NAME, ALIAS FROM SUPERHERO WHERE NAME IN ('Thor', 'Tony Stark', 'Steve Rogers');
```
```sql
SELECT NAME, ALIAS, RATING FROM SUPERHERO WHERE NAME IN ('Thor', 'Tony Stark', 'Steve Rogers') OR RATING > 90;
```
 * Агрегирующие функции: ```COUNT```, ```SUM```, ```MIN```, ```MAX```, ```AVG```
     * Группировка по полю/полям/выражениям от выбранных полей.
```sql
SELECT COUNT(*) FROM SUPERHERO;
```
```sql
SELECT SUM(RATING), MIN(RATING), AVG(RATING), MAX(RATING) FROM SUPERHERO;
```
 * __GROUP BY__
     * Группировка по полю/полям/выражениям от выбранных полей.
```sql
SELECT RATING, COUNT(*) FROM SUPERHERO GROUP BY RATING;
```
 * __HAVING__
     * Использует в связке с ```GROUP BY``` для наложения ограничений на выборку уже после группировки.
     * Ограничение с использованием ```WHERE``` накладывать можно только до группировки.
```sql
SELECT RATING, COUNT(*) FROM SUPERHERO GROUP BY RATING HAVING COUNT(*)<>1;
```
 * __ORDER BY__
     * ASC – по возрастанию (по умолчанию)
     * DESC – по убыванию
```sql
SELECT * FROM SUPERHERO ORDER BY RATING DESC;
```

#### Резюме  

* [Язык структурированных запросов](https://ru.wikipedia.org/wiki/SQL)
* Стандартизирован, но БД пытаются соответствовать стандарту ANSI не позволяя ему ограничивать их слишком сильно
* Типы: Числа (INTEGER и DECIMAL), строки (CHAR, VARCHAR) и т.д.
* Операторы: SELECT FROM, WHERE, GROUP BY, COUNT, HAVING и т.д.
* Джойны: INNER JOIN, OUTER JOIN и т.д.
* Подзапросы
* Команды модификации: INSERT, DELETE, UPDATE
* Создание таблиц

### SQLite3

* Простейший способ использовать БД
* Вся БД хранится в одном файле
* Отличный способ иметь БД в мобильных приложениях
* Доступ из коммандной строки: ```sqlite3 <filename>```
* API для Python, С++ и т.д.

#### Попробуем выполнить простой запрос

In [ ]:
import sqlite3

# Соединение с базой
conn = sqlite3.connect('example.db')

# Объект для исполнения SQL запросов над базой
cur = conn.cursor()

# Выполним какой-нибудь запрос
cur.execute('select 1')

# Читаем результат. fetchone ожидает единственную строку
print(cur.fetchone())

# Закрываем за собой соединение с базой.
conn.close()

Не забываем закрывать соединение! <br>
**Connection - это ресурс, который может и закончиться.** <br>
В этом нам помогут контекстные менеджеры.

In [ ]:
# Соединение с базой теперь закроется само.
with sqlite3.connect('example.db') as conn:
    
    # Объект для исполнения SQL запросов над базой
    cur = conn.cursor()

    # Выполним какой-нибудь запрос
    cur.execute("select 'Hello, world!', 6 * 7")

    # Читаем результат. fetchone ожидает единственную строку
    print(cur.fetchone())

Установка соединения может быть дорогой операцией.<br>
Не стоит создавать соединение для каждого запроса. По возможности переиспользуйте старое.

#### Теперь посмотрим как работать с sqlite3 на примере простой базы с пользователями.<br>
Для начала создадим таблицы:

In [ ]:
def create_tables(cur, conn):
    # Удалим старые таблицы, если есть.
    cur.execute('DROP TABLE IF EXISTS users')
    cur.execute('DROP TABLE IF EXISTS user_types')
    
    # Пишем SQL запрос для создания таблиц
    cur.execute('''
        CREATE TABLE user_types (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name VARCHAR(255)
        )''')
    cur.execute('''
        CREATE TABLE users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            active BOOLEAN,
            profile INTEGER,
            FOREIGN KEY(profile) REFERENCES user_types(id)
        )''')
    
    # Отправить текущую транзакцию.
    # Если не сделать, то изменения не будут видны в других connect'ax
    # Закрытие соединения не вызывает commit автоматически!
    conn.commit()

Работать с пустыми таблицами - не очень интересно, давайте заполним их

In [ ]:
def add_user_types(cur):
    cur.execute('''INSERT INTO user_types (name) VALUES ('Student')''')
    cur.execute('''INSERT INTO user_types (name) VALUES ('Teacher')''')

def add_teachers(cur):
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Maxim', 'Popov', '1', 
                (SELECT id FROM user_types WHERE name = 'Teacher'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Igor', 'Orlov', '1', 
                (SELECT id FROM user_types WHERE name = 'Teacher'))''')

def add_strudents(cur):
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Ivan', 'Ivanov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Petr', 'Petrov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Petr', 'Sidorov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')

Выполним запросы к базе

In [ ]:
with sqlite3.connect('example.db') as conn:

    cur = conn.cursor()
    
    # Функция создания таблиц коммитит транзакцию сразу.
    create_tables(cur, conn)
    
    # Функции добавления польователей не вызывают commit.
    add_user_types(cur)
    add_teachers(cur)
    add_strudents(cur)
    
    # Делаем commit для всех запросов добавления.
    # Если забудем - то таблицы останутся пустыми.
    conn.commit()

Попробуем теперь зачитать всех студентов

In [ ]:
def select_all_students(conn):
    query = '''SELECT users.first_name, users.last_name 
               FROM users 
               WHERE profile = (SELECT id FROM user_types WHERE name = 'Student')'''
    cur = conn.cursor()
    cur.execute(query)

    # Получить все строчки результата выполнения query
    # Это не всегда быстро, особенно если много результатов
    # Кроме того большое потребление памяти, так как возвращается list
    rows = cur.fetchall() 

    # Как fetchall только задаем сколько хотим получить
    # rows = cur.fetchmany(10) 

    for row in rows:
        first_name, last_name = row
        print(first_name, last_name)
        
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

In [ ]:
def select_all_students(conn):
    query = '''SELECT users.first_name, users.last_name 
               FROM users 
               WHERE profile = (SELECT id FROM user_types WHERE name = 'Student')'''
    cur = conn.cursor()
    cur.execute(query)

    # А лучше просто проитерироваться
    for row in cur:
        first_name, last_name = row
        print(first_name, last_name)
        
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Попробуем сделать учителя Maxim Popov студентом

In [ ]:
def alter_teacher(conn):
    cur = conn.cursor()
    cur.execute('''UPDATE users SET profile = (SELECT id FROM user_types WHERE name = "Student")
                   WHERE first_name = "Maxim" AND last_name = "Popov"
    ''')

with sqlite3.connect('example.db') as conn:
    alter_teacher(conn)

Посмотрим на результат

In [ ]:
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Создадим функцию, чтобы добавить всех студентов сразу!

In [ ]:
def add_strudents(conn, students):
    queries = []
    
    for student in students:
        query = '''
            INSERT INTO users (first_name, last_name, active, profile) VALUES 
                ("{}", "{}", 0, 
                    (SELECT id FROM user_types WHERE name = "Student"));'''
        queries.append(query.format(*student))
    
    cur = conn.cursor()
    
    # Исполняет сразу несколько запросов, разделенных ';'
    cur.executescript(''.join(queries))

In [ ]:
with sqlite3.connect('example.db') as conn:
    students = [('Vladimir', 'Vladimirov'), ('Dmitry', 'Dmitriev')]
    add_strudents(conn, students)
    
    # Проверим, что все вставилось.
    select_all_students(conn)

Все отлично работает!

In [ ]:
with sqlite3.connect('example.db') as conn:
    students = [('cool', 'hacker", 0, 0); drop table users; --')]
    add_strudents(conn, students)

In [ ]:
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Where is my table, Lebowski???

<img src="https://imgs.xkcd.com/comics/exploits_of_a_mom.png">

# Работа с <имя вашей любимой базы>

Почти ничем не отличается от SQLite.*

\* В случае, если поддержан [Python DB API 2.0](https://www.python.org/dev/peps/pep-0249/)

PostgreSQL: [psycopg2](http://initd.org/psycopg/)

In [ ]:
#postgreSQL
try:
    import psycopg2
except:
    !pip install psycopg2-binary

#MySQL
try: 
    import pymysql
except:
    !pip install pymysql

In [ ]:
# Поменялся способ подключения. 
# Теперь указываем не файл, а хост, базу, пользователя и пароль.
# Чтобы это работало, должен быть запущен psqld.
# Также, нужно создать пользователя с паролем и базу.
with psycopg2.connect(dbname='testdb', user='testuser', 
                      host='0.0.0.0', password='testuser') as conn:
    
    # А остальной интерфейс сохранился.
    cur = conn.cursor()
    cur.execute("select 'Hello, world!', 6 * 7")
    print(cur.fetchone())

[Как установить PostgreSQL в Ubuntu и добавить пользователя](https://www.digitalocean.com/community/tutorials/postgresql-ubuntu-16-04-ru#создание-новой-роли)

Создадим таблички

In [ ]:
with psycopg2.connect(dbname='testdb', user='testuser', host='localhost', password='testuser') as conn:
    
    cur = conn.cursor()
    
    # Удалим старые таблицы, если есть.
    cur.execute('DROP TABLE IF EXISTS users')
    cur.execute('DROP TABLE IF EXISTS user_types')
    
    # SQL диалект может немного меняться
    # Используем тип SERIAL вместо свойстав AUTOINCREMENT
    cur.execute('''
        CREATE TABLE user_types (
            id SERIAL PRIMARY KEY,
            name VARCHAR(255)
        )
    ''')
    cur.execute('''
        CREATE TABLE users (
            id SERIAL PRIMARY KEY,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            active BOOLEAN,
            profile INTEGER,
            FOREIGN KEY(profile) REFERENCES user_types(id)
        )
    ''')

Многие запросы работают без изменений.

In [ ]:
with psycopg2.connect(dbname='testdb', user='testuser', host='localhost', password='testuser') as conn:
    cur = conn.cursor()
    
    add_user_types(cur)
    add_teachers(cur)
    add_strudents(cur)
    conn.commit()
    
    select_all_students(conn)

# SQLAlchemy

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
#dialect+driver://username:password@host:port/database
engine = create_engine('sqlite:///example_alchemy.db', echo=True)
# engine = create_engine('sqlite:///:memory:', echo=True)

# echo=True - для дополнительного логгирования

#### Опишем данные, которые хотим хранить

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Boolean, ForeignKey
from sqlalchemy.orm import relationship

Base = declarative_base()

class UserType(Base):
    __tablename__ = 'user_types'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    users = relationship("User")
    
    def __repr__(self):
        return "<UserType(name={})>".format(self.name)  

class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    first_name = Column(String)
    last_name = Column(String)
    active = Column(Boolean)
    profile_id = Column(Integer, ForeignKey('user_types.id'))
    profile = relationship("UserType", back_populates="users")
    
    def __repr__(self):
        return "<User(first_name={}, last_name={}, active={})>"\
            .format(self.first_name, self.last_name, self.active)

In [ ]:
User.__table__

#### Создадим таблицы в базе

In [ ]:
Base.metadata.create_all(engine)

Вставим данные

In [ ]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

student = UserType(name='student')
session.add(student)

teacher = UserType(name='teacher')
session.add(teacher)

session.commit()

Найдем тип учителя в базе

In [ ]:
res = session.query(UserType).filter_by(name='teacher').first() 
res

In [ ]:
teacher is res

one vs first

In [ ]:
session.query(UserType).filter_by(name='teacher12').one()

In [ ]:
session.query(UserType).one()

Разные виды "select"

In [ ]:
results = session.query(UserType).order_by(UserType.id).all()
print(type(results))
print(results)

In [ ]:
for name, user_id in session.query(UserType.name, UserType.id).order_by(UserType.name):
    print(name, user_id)

#### Добавим нового учителя

In [ ]:
user = User(first_name="Maxim", last_name="Popov", active=True)
teacher.users.append(user)
session.add(user)
session.commit()

In [ ]:
res = session.query(User).first() 
res

In [ ]:
res.profile

Добавим студента

In [ ]:
user = User(first_name="Petr", last_name="Sidorov", active=False, profile=student)
session.add(user)
session.commit()

In [ ]:
student.users

Сделаем его учителем

In [ ]:
user.profile = teacher
session.commit()

In [ ]:
student.users

In [ ]:
teacher.users

Какая еще бывает фильтрация?

In [ ]:
# equals
session.query(UserType).filter(UserType.name == 'teacher')
# not equals
session.query(UserType).filter(UserType.name != 'teacher')
# LIKE
session.query(UserType).filter(UserType.name.like('%tea%'))
# ILIKE (case-insensitive LIKE):
session.query(UserType).filter(UserType.name.ilike('%TeA%'))
# IS NULL
session.query(UserType).filter(UserType.name.is_(None))
# IS NOT NULL
session.query(UserType).filter(UserType.name.isnot(None))
              
from sqlalchemy import and_
#AND
session.query(UserType).filter(and_(UserType.name.isnot(None), UserType.name != 'abc'))
session.query(UserType).filter(UserType.name.isnot(None), UserType.name != 'abc')
session.query(UserType).filter(UserType.name.isnot(None)).filter(UserType.name != 'abc')

#OR
from sqlalchemy import or_
session.query(UserType).filter(or_(UserType.name.isnot(None), UserType.name != 'abc'))

In [ ]:
#IN
session.query(User).filter(User.profile_id.in_(
    session.query(UserType.id)
)).all()